*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    align-items: center;
    gap: -500px;
}

img {
    border-radius: 10px;
    margin-top: 50px;
}

h3 {
    display: flex;
    justify-content: center;
    margin-left: 170px;
}


.imagen {
    display: flex;
    justify-content: center;
    width: 750px;
    height: 80vh;
    margin-left: 150px;
    margin-right: -120px;
}

/* .line-effect {
    text-align: center;
}

h4 {
    display: inline-block;
    position: relative;
} */

    /* h4::before, h4::after {
        content:'';
        position: absolute;
        width: 20px;
        height: 1.5px;
        background-color: black;
        top: 0.6em;
    } */

.lado-derecho {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 17px 140px ;
    margin-top: -352px;   
}


.sign-in {
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

/* .sign-in h3 {
    
    
} */

.iconos {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: -350px;
    margin-right: -60px;
}

.lado-derecho img {
    display: flex;
    width: 25px;
    height: 20hv;
    border: 1px solid silver;
    padding: 15px 15px;
}




.lado-derecho img:hover {
    transform: scale(1.2);
}