/* Separar con comentarios */

/* Propiedades de generales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    border-radius: 10px;
}

body {
    display: flex;
    position: relative;
    top: 100px;
    text-align: center;
}

section {
    display: flex;
    position: relative;

}


h4 {
    display: flex;
    position: absolute;
}

h3 {
    display: flex;
    position: absolute;
    top: 40px;
    left: 173px;
    font-size: 18px;
    color: #535353;
}

/* Propiedades de la imagen */
.imagen {
    display: flex;
    justify-content: center;
    width: 750px;
    height: 80vh;
    margin-left: 150px;
    margin-right: -120px;
}

/* Borde del lado derecho */

.lado-derecho {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    border-radius: 10px;
    top: 1px;
    width: 420px;
    margin-left: 25px;
}



/* Borde del los iconos */
.iconos {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 50px;
    top: -180px;
    left: 135px;
}

/* Propiedades de los Iconos y del sign in*/
.iconos img {
    border-radius: 10px;
}

.lado-derecho img {
    display: flex;
    width: 25px;
    border: 1px solid silver;
    padding: 15px 15px;
    flex-direction: row;
    gap: 50px;
}

/* Animacion de los iconos */

.lado-derecho img:hover {
    transform: scale(1.2);
}



/* Linea decorativa del h4 */


.line-effect {
    top: 175px;
    left: 157px;
    color: #535353;
    font-size: 13px;
}

h4::after,
h4::before {
    content: '';
    position: absolute;
    width: 67px;
    height: 1px;
    background-color: silver;
    top: 0.7em;
}

h4::before {
    left: -77px;
}

h4::after {
    right: -75px;
}



/* inputs de email y telefono */


.email {
    display: flex;
    position: absolute;
    top: 230px;
    right: 430px;
    background: white;
    font-size: 13px;
    margin-right: -150px;
}

.telefono {
    display: flex;
    position: absolute;
    top: 230px;
    right: 415px;
    background: white;
    font-size: 13px;
    margin-left: 7px;
    margin-right: -300px;
}

.email:hover {
    justify-content: center;
    background: orangered;
    border-radius: 10px;
    color: white;
    width: 60px;
    height: 20px;
    padding: 10px 10px 5px 10px;
    top: 220px;
    right: 405px;
}

.telefono:hover {
    justify-content: center;
    background: orangered;
    border-radius: 10px;
    color: white;
    width: 95px;
    height: 20px;
    padding: 10px 10px 5px 10px;
    top: 220px;
    right: 405px;
}

/* Formulario */

.email-form {
    display: flex;
    position: relative;
    text-align: left;
    flex-direction: column;
    top: 100px;
    right: 135px;
    font-size: 13px;
}

.email-form input,
.pass-form input {
    width: 260px;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
}

.pass-form {
    display: flex;
    position: relative;
    text-align: left;
    flex-direction: column;
    top: 120px;
    right: 135px;
    font-size: 13px;
}

.pass-form img {
    display: flex;
    position: relative;
    top: -43px;
    right: -230px;
    border: none;
}

.olvideContra {
    display: flex;
    position: relative;
    text-align: left;
    top: 70px;
    right: 135px;
    ;
    text-decoration: none;
    color: #535353;
    font-size: 13px;
}

.boton-sign {
    display: flex;
    position: relative;
    justify-content: center;
    top: 110px;
    left: -85px;
    background: orangered;
    border: none;
    width: 180px;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register p {
    display: flex;
    position: relative;
    top: 125px;
    right: 85px;
    font-size: 0.9rem;
    color: #535353;
}

.register a {
    display: flex;
    position: relative;
    top: 140px;
    right: 35px;
    font-size: 0.9rem;
    color: orangered;
}